	html,
	body {
		display: flex;
		flex-direction: column;
		height: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
	}

	.mainafd {
		height: 95%;
	}

	#leafletmap {
		height: 100%;
		position: relative;
		z-index:0;

	}

	#mapid {
		height: 100%;
	}

	.wikiintro {

		width: 150px;
	}
